.login-register {
  background: lightgray;
  width: 100%;
  height: 100%;
  padding: 1em;
}

.login-register-img {
  width: 100%;
}

.login-register-img img {
  width: 100%;
  height: 10em;
  object-fit: cover;
  object-position: 100% 40%;
  background: black;
  opacity: 0.7;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.login h2 {
  text-shadow: 0 0 0.2em darkgrey;
  padding-bottom: 0.5em;
}

.login form {
  background: white;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1em;
  margin: 1em auto;
}

.login label {
  padding-bottom: 1em;
  padding-top: 1em;
  text-align: left;
}

.login-register-button {
  background: black;
  color: white;
  text-align: center;
  border: none;
  width: 10em;
  height: 3em;
  margin-top: 1em;
  font: inherit;
}

.login input {
  width: 10em;
  height: 2em;
  text-align: center;
}
