
    <div class="login-register">
      <div class="login-register-img">
        <img src="././assets/img/heather-ford-YAHlwESEjXo-unsplash.jpg">
      </div>
      <div class="login">
        <form [formGroup]="form" (ngSubmit)="register()">
          <h2>Register</h2>
          <label for="email">Email address</label>
          <input id="email" formControlName="email" type="email" placeholder="Enter email...">
          <div *ngIf="email.dirty && email.invalid">
            <p class="toast-error">Email not valid!</p>
          </div>
          <label for="password">Password</label>
          <input id="password" formControlName="password" type="password" placeholder="Enter password...">
          <div *ngIf="password.dirty && password.invalid">
            <p class="toast-error">Password must be at least 6 characters long!</p>
          </div>
<!--          <label for="passwordConfirm">Repeat password</label>
          <input id="passwordConfirm" formControlName="passwordConfirm" type="password" placeholder="Repeat password...">
          <div *ngIf="passwordConfirm.dirty && !passwordDoesMatch">
            <p class="toast-error">Passwords dont' match!</p>
          </div>-->
          <button class="login-register-button" onclick="">Register</button>
        </form>
      </div>
    </div>
