<div class="container">
  <div class="wrapper">
    <div class="login-register">
      <div class="login-register-img">
        <img src="././assets/img/heather-ford-YAHlwESEjXo-unsplash.jpg">
      </div>
      <div class="login">
        <form [formGroup]="form" (ngSubmit)="onSubmit()">
          <h2>Register</h2>
          <label for="register">Email address</label>
          <input id="register" formControlName="email" type="email" placeholder="Enter email...">
          <label for="password">Password</label>
          <input id="password" formControlName="password" type="password" placeholder="Enter password...">
          <label for="passwordConfirm">Repeat password</label>
          <input id="passwordConfirm" formControlName="passwordConfirm" type="password" placeholder="Repeat password...">
          <div *ngIf="passwordConfirm.dirty && !passwordDoesMatch">
            <p class="toast-error">Passwords dont' match!</p>
          </div>
          <button class="login-register-button" onclick="">Register</button>
        </form>
      </div>
    </div>
  </div>
</div>
