<div class="container">
  <div class="wrapper">
    <div class="login-register">
      <div class="login-register-img">
        <img src="././assets/img/heather-ford-YAHlwESEjXo-unsplash.jpg">
      </div>
      <div class="login">
        <form>
          <h2>Register</h2>
          <label for="register">Email address</label>
          <input id="register" type="email" placeholder="Enter email...">
          <label for="password">Password</label>
          <input id="re-password" type="password" placeholder="Enter password...">
          <label for="re-password">Repeat password</label>
          <input id="password" type="password" placeholder="Repeat password...">
          <button class="login-register-button" onclick="">Register</button>
        </form>
      </div>
    </div>
  </div>
</div>
