<div class="container">
  <div class="wrapper">
    <div class="artists-list">
      <div class="artist-item">
        <div class="artist-info">
          <h2>Simona Welsh</h2>
          <h4>Fine art</h4>
        </div>
        <div class="artist-img">
          <img src="./assets/img/artists/michael-dam-mEZ3PoFGs_k-unsplash.jpg">
        </div>
      </div>
      <div class="artist-item right">
        <div class="artist-info">
          <h2>George Milton</h2>
          <h4>Sculptor</h4>
        </div>
        <div class="artist-img">
          <img src="./assets/img/artists/foto-sushi-6anudmpILw4-unsplash.jpg">
        </div>
      </div>
      <div class="artist-item">
        <div class="artist-info">
          <h2>Daniel Simons</h2>
          <h4>Photographer</h4>
        </div>
        <div class="artist-img">
          <img src="./assets/img/artists/clem-onojeghuo-qGxhaKETzsY-unsplash.jpg">
        </div>
      </div>
      <div class="artist-item">
        <div class="artist-info">
          <h2>James Wallrwick</h2>
          <h4>Illustrator</h4>
        </div>
        <div class="artist-img">
          <img src="./assets/img/artists/marius-ciocirlan-vMV6r4VRhJ8-unsplash.jpg">
        </div>
      </div>
      <div class="artist-item">
        <div class="artist-info">
          <h2>Seth Doyle</h2>
          <h4>Painter</h4>
        </div>
        <div class="artist-img">
          <img src="./assets/img/artists/seth-doyle-vmBik4xv27s-unsplash.jpg">
        </div>
      </div>
    </div>
  </div>
</div>
