<footer>
  <div class="footer-categories">
    <h2>Art</h2>
    <ul>
      <li class="footer-categories-items">
        <a href="#">Painting</a>
      </li>
      <li class="footer-categories-items">
        <a href="#">Photography</a>
      </li>
      <li class="footer-categories-items">
        <a href="#">Illustration</a>
      </li>
      <li class="footer-categories-items">
        <a href="#">Sculpture</a>
      </li>
      <li class="footer-categories-items">
        <a href="#">Prints</a>
      </li>
      <li class="footer-categories-items">
        <a href="#">Textile</a>
      </li>
      <li class="footer-categories-items">
        <a href="#">Design</a>
      </li>
      <li class="footer-categories-items">
        <a href="#">Jewelery</a>
      </li>
      <li class="footer-categories-items">
        <a href="#">All</a>
      </li>
    </ul>
  </div>
  <div class="footer-about">
    <h2>About</h2>
    <ul>
      <li class="footer-about-contacts">
        <a href="#">Contacts</a>
      </li>
      <li class="footer-about-artists">
        <a href="#">Artists</a>
      </li>
    </ul>
  </div>
  <div class="footer-account">
    <h2>Account</h2>
    <ul>
      <li class="footer-account-login">
        <a href="#">Login</a>
      </li>
      <li class="footer-account-register">
        <a href="#">Register</a>
      </li>
    </ul>
  </div>
  <div class="footer-social">
    <h2>Social</h2>
    <i class="fab fa-instagram fa-3x">
      <a href="#"></a>
    </i>
    <i class="fab fa-facebook-square fa-3x"></i>
    <i class="fab fa-whatsapp fa-3x"></i>
  </div>
</footer>
