/*reset*/
* {
  padding: 0;
  margin:0;
}

body, html {
  box-sizing: border-box;
  font-family: 'Fira Sans Extra Condensed', sans-serif;
}

:before, :after {
  box-sizing: inherit;
}
/*main*/
.container {
  height: auto;
  min-width: 100vw;
  overflow-x: hidden;
}

.wrapper {
  height: 100%;
}

button:hover {
  cursor: pointer;
}

.toast-error {
  color: orangered;
}
