<header>
  <nav class="nav">
    <ul class="hidden">
      <li>
        <a href="/artists">Artists</a>
      </li>
      <li>
        <div class="categories">
          <select id="categories"  onchange="location = this.value;">
            <option>Categories</option>
            <option>Painting</option>
            <option>Photography</option>
            <option>Illustration</option>
            <option>Sculpture</option>
            <option>Prints</option>
            <option>Textile</option>
            <option>Design</option>
            <option>Jewelery</option>
            <option value="items">All</option>
          </select>
        </div>
      </li>
    </ul>
    <div class="search">
      <label for="search">Search</label>
      <input type="search" id="search" name="search">
    </div>
    <div class="user">
      <ul class="hidden">
        <li>
          <a href="/login">Login</a>
        </li>
        <li>
          <a href="/register">Register</a>
        </li>
      </ul>
      <div class="lang">
        <label for="language"></label>
        <select id="language">
          <option>EN</option>
          <option>BG</option>
        </select>
      </div>
    </div>
  </nav>
</header>
