<div class="container">
  <div class="wrapper">
    <div class="gallery">
      <div class="gallery-item">
        <h2>Abstract Art</h2>
        <h4>Author: Elia McNamara</h4>
        <img src="./assets/img/steve-johnson-3Sf_G9m0gcQ-unsplash.jpg">
        <div class="order-item">
          <p>Price: $850.oo</p>
          <button class="add-to-cart">Add to cart</button>
        </div>
      </div>
      <div class="gallery-item">
        <h2>Photography</h2>
        <h4>Author: Manuel Garcia</h4>
        <img src="./assets/img/michael-schaffler-s2ZEGZKlDj4-unsplash.jpg">
        <div class="order-item">
          <p>Price: $250.oo</p>
          <button class="add-to-cart">Add to cart</button>
        </div>
      </div>
      <div class="gallery-item">
        <h2>Jewelery</h2>
        <h4>Author: Ivanka Mrumph</h4>
        <img src="./assets/img/etienne-girardet-zXvVKgdo9j8-unsplash.jpg">
        <div class="order-item">
          <p>Price: $80.oo</p>
          <button class="add-to-cart">Add to cart</button>
        </div>
      </div>
      <div class="gallery-item">
        <h2>Sculpture</h2>
        <h4>Author: John Smith</h4>
        <img src="./assets/img/la-coccinelle-ETJFVA_Tqqw-unsplash.jpg">
        <div class="order-item">
          <p>Price: $1050.oo</p>
          <button class="add-to-cart">Add to cart</button>
        </div>
      </div>
      <div class="gallery-item">
        <h2>Fine Art</h2>
        <h4>Author: Simon Welsh</h4>
        <img src="./assets/img/birmingham-museums-trust-wKlHsooRVbg-unsplash.jpg">
        <div class="order-item">
          <p>Price: $1800.oo</p>
          <button class="add-to-cart">Add to cart</button>
        </div>
      </div>
      <div class="gallery-item">
        <h2>Illustration</h2>
        <h4>Author: Sandra Winston</h4>
        <img src="./assets/img/boston-public-library-YoK5pBcSY8s-unsplash.jpg">
        <div class="order-item">
          <p>Price: $120.oo</p>
          <button class="add-to-cart">Add to cart</button>
        </div>
      </div>
      <div class="gallery-item">
        <h2>Photography</h2>
        <h4>Author: Marcus Wallis</h4>
        <img src="./assets/img/marcus-wallis-JR36liRx1Yw-unsplash.jpg">
        <div class="order-item">
          <p>Price: $220.oo</p>
          <button class="add-to-cart">Add to cart</button>
        </div>
      </div>
      <div class="gallery-item">
        <h2>Sculpture</h2>
        <h4>Author: Reno Laithienne</h4>
        <img src="./assets/img/reno-laithienne-iy_DgLJFGq4-unsplash.jpg">
        <div class="order-item">
          <p>Price: $300.oo</p>
          <button class="add-to-cart">Add to cart</button>
        </div>
      </div>
    </div>
  </div>
</div>
