
    <div class="add-artist">
      <form [formGroup]="form">
        <h2>Add artist</h2>
        <label for="artist-name">Name</label>
        <input id="artist-name" type="text" placeholder="Add artist name..."/>
        <label for="artist-field">Artist field</label>
        <input id="artist-field" type="text" placeholder="Add artist name..."/>
        <label for="artist-image-url">Image Url</label>
        <input id="artist-image-url" type="text" placeholder="Add item description..."/>
        <label for="artist-email">Artist email</label>
        <input id="artist-email" type="email" placeholder="Add item price..."/>
        <button class="add-item-button">Create artist</button>
      </form>
    </div>
