/*
!*reset*!
* {
  padding: 0;
  margin:0;
}

body, html {
  box-sizing: border-box;
  font-family: 'Fira Sans Extra Condensed', sans-serif;
}

:before, :after {
  box-sizing: inherit;
}
!*main*!
.container {
  height: auto;
  width: 100vw;
}

.wrapper {
  height: 100%;
}

button:hover {
  cursor: pointer;
}

!*header-nav*!

!*footer*!

!*home*!

!*gallery*!

!*login-register*!

!*admin-add-item*!
.add-item {
  background: lightgray;
  width: 100%;
  height: 100%;
  padding: 1em;
}

.add-item form {
  background: white;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1em;
  margin: 1em auto;
}

.add-item-button {
  background: black;
  color: white;
  text-align: center;
  border: none;
  width: 10em;
  height: 3em;
  margin-top: 1em;
  font: inherit;
}

.add-item label {
  padding-bottom: 1em;
  padding-top: 1em;
  text-align: left;
}

.add-item input {
  width: 10em;
  height: 2em;
  text-align: center;
  font: inherit;
}

.add-item textarea {
  text-align: center;
  font: inherit;
}

!*admin-add-artist*!
.add-artist {
  background: lightgray;
  width: 100%;
  height: 100%;
  padding: 1em;
}

.add-artist form {
  background: white;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1em;
  margin: 1em auto;
}

.add-item-button {
  background: black;
  color: white;
  text-align: center;
  border: none;
  width: 10em;
  height: 3em;
  margin-top: 1em;
  font: inherit;
}

.add-artist label {
  padding-bottom: 1em;
  padding-top: 1em;
  text-align: left;
}

.add-artist input {
  width: 10em;
  height: 2em;
  text-align: center;
  font: inherit;
}

.toast-error {
  color: orangered;
}
*/
